body {
  font-family: Arial;
  text-align: center;
  background-color: rgb(rgb(44, 44, 44));
  color: white;
}

h1 {
  color:blue;
}

h3 {
  text-align: center;
}


.pictures {
  height: 300px;
  border-radius: 25px;
}

.coding-pic {
  height: 300px;

}

ul {
  list-style-position: inside;
}