body {
  font-family: Arial;
  text-align: center;
  color: black;
}

h1 {
  color:rgb(0, 0, 115);
}

h3 {
  text-align: center;
}

header {
  background-color: #80b7d3;
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-me {
  background-color: #b6a6f8;
  border: 2px solid;
  border-radius: 10px;
}

.pictures {
  height: 300px;
  border-radius: 25px;
}

.coding-pic {
  height: 300px;

}

ul {
  list-style-position: inside;
}

br {
  margin-bottom: 100px;
}