body {
  font-family: Arial;
  text-align: center;
  color: black;
}

header {
  background-image: url(https://p0.pxfuel.com/preview/788/12/912/astrophotography-stars-clouds-sky.jpg);
  border: 2px solid;
  border-radius: 10px;
  color:rgb(255, 255, 255);
  padding-bottom: 10px;
}

nav a {
  display: inline-block;
  margin: 0 0 0 20px;
}

nav a:hover {
 text-shadow: 1px 1px 3px white;
}

nav a:visited {
  color: rgb(202, 189, 255);
}

section {
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
}

.about-me {
  background-color: #688dff;
}

.pictures {
  height: 300px;
  border-radius: 25px;
}

.coding-pic {
  height: 300px;

}

.project {
  list-style-position: inside;
  text-decoration: none;
}

br {
  margin-bottom: 100px;
}